<div class="tab-content" ng-controller="chatDetailCtrl">

  <navbar title="data.title"></navbar>
  <div class="chat-bar"></div>
  <!-- page content -->
  <div class="page-content no-scroll">

    <div class="infinite-scroll-top" infinite-scroll="loadMore()">

      <ul class="list chat-msg-list">
        <li class="list-item" ng-repeat="item in data.results | limitTo : data.limitTo">
          <div class="item-head">
            <div class="item-time" ng-bind="item.create_at | fromNow"></div>
            <div class="item-content">
              <div class="item-before" ng-if="item.user_id !== currentUser.id">
                <img class="item-media" src="assets/images/avatar.png" lazy-src="{{item.user.avatar}}" />
              </div>
              <div class="item-inner">
                <div class="inner-content">
                  <div class="item-title" ng-bind="item.user.nickname"></div>
                  <p class="item-subtitle" ng-bind-html="item.content"></p>
                </div>
              </div>
              <div class="item-after" ng-if="item.user_id === currentUser.id">
                <img class="item-media" src="assets/images/avatar.png" lazy-src="{{item.user.avatar}}" />
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
