<div class="page" ng-controller="chatDetailCtrl">

  <navbar title="{{data.chat.title}}"></navbar>
  <div class="chat-bar"></div>
  <!-- page content -->
  <div class="page-content no-scroll">

    <div class="infinite-scroll-top" infinite-scroll="loadMore()"
         data-infinite-scroll-disabled="data.isEnd" data-infinite-scroll-text="加载更多">

      <ul class="list chat-message-list">
        <li class="list-item" ng-class="{'is-send': item.user_id === currentUser.id}" ng-repeat="item in data.chat.messages | limitTo : data.limitTo">
          <div class="item-head">
            <div class="item-time" ng-bind="item.created_at | fromNow"></div>
          </div>
          <div class="item-content flex-align-top">
            <div class="item-before" ng-if="item.user_id !== currentUser.id">
              <img class="item-media" src="assets/images/avatar.png" lazy-src="{{data.users[item.user_id].avatar}}" />
            </div>
            <div class="item-inner">
              <div class="inner-content">
                <div class="item-title" ng-bind="data.users[item.user_id].nickname"></div>
                <p class="item-subtitle type-{{item.type}}" ng-bind-html="item.content_html"></p>
              </div>
            </div>
            <div class="item-after" ng-if="item.user_id === currentUser.id">
              <img class="item-media" src="assets/images/avatar.png" lazy-src="{{data.users[item.user_id].avatar}}" />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
