.chat-list
{
  .item-subtitle
  {
    padding-right : 15px;
  }
}

.chat-message-list
{
  //padding          : 10px;
  border           : none;
  background-color : transparent;
  .list-item
  {
    border        : none;
    padding       : 0;
    margin-bottom : 10px;
    .item-head
    {
      line-height   : 0;
      margin-bottom : 10px;
      text-align    : center;
      padding-right : 15px;
      .item-time
      {
        display          : inline-block;
        padding          : 0.5em;
        font-size        : 12px;
        line-height      : 12px;
        border-radius    : 3px;
        background-color : #dedede;
        color            : #fff;
      }
    }
    .item-media
    {
      width  : 50px;
      height : 50px;
    }

    .item-content
    {
      .item-before
      {
        padding-right : 10px;
      }
      .item-after
      {
        padding-left : 10px;
      }
    }

    .item-inner > .inner-content
    {
      text-align : left;
      .item-title
      {
        font-size   : 14px;
        line-height : 1em;
        color       : $color-text-light;
      }
      .item-subtitle
      {
        display          : inline-block;
        font-size        : 14px;
        word-break       : break-all;
        color            : $color-text-light;
        border           : 1px solid $color-border;
        background-color : #fff;
        border-radius    : 4px;
        padding          : 0.5em 0.75em;
        width            : auto;
        margin-top       : 6px;
        box-sizing       : border-box;
        max-width        : 100%;
        img
        {
          max-width : 100%;
        }
        &.type-image
        {
          padding : 3px;
        }
      }
    }

    &.is-send
    {
      .item-inner > .inner-content
      {
        text-align : right;
      }
    }
  }
}

.chat-bar
{
  position         : absolute;
  left             : 0;
  right            : 0;
  bottom           : 0;
  z-index          : 500;
  padding          : 10px 15px;
  background-color : #fff;
  .bar-input
  {
    display        : block;
    width          : 100%;
    box-sizing     : border-box;
    font-size      : 14px;
    line-height    : 25px;
    height         : 30px;
    padding-bottom : 5px;
    border-bottom  : 1px solid $color-border;
  }
  .bar-toggle
  {
    display : block;
    width   : 30px;
    height  : 30px;
  }
  .bar-actions
  {
    @include clearfix;
    display    : none;
    border-top : 1px solid $color-border;
  }
  .bar-action
  {
    float : left;
    width : 25%;

    .action-icon,
    .action-text
    {
      display    : block;
      text-align : center;
    }
    .action-icon
    {
      border-radius : 5px;
      margin        : auto;
      width         : 40px;
      height        : 40px;
      font-size     : 36px;
      border        : 1px solid $color-border;
    }
    .action-text
    {
      padding-top : 5px;
      font-size   : 12px;
    }
  }
}

.chat-bar ~ .page-content
{
  padding-bottom : 50px;
}
