<div class="page" ng-controller="userChangePasswordCtrl">
  <navbar title="修改密码"></navbar>
  <div class="page-content">
    <form name="form" class="form" novalidate>
      <ul class="list mt-30">
        <li class="list-item">
          <div class="item-content">
            <div class="item-inner">
              <input type="password" name="current" class="item-input" placeholder="请输入当前密码" required
                     ng-model="password.current"/>
            </div>
          </div>
        </li>
        <li class="list-item">
          <div class="item-content">
            <div class="item-inner">
              <input type="password" name="new" class="item-input" placeholder="输入新密码" required
                     ng-model="password.new" ng-pattern="/^[a-zA-Z]\w{5,17}$/"/>
            </div>
          </div>
        </li>
        <li class="list-item">
          <div class="item-content">
            <div class="item-inner">
              <input type="password" name="confirm" class="item-input" placeholder="确认新密码" required
                     ng-model="password.confirm" ng-pattern="/^[a-zA-Z]\w{5,17}$/"/>
            </div>
          </div>
        </li>
      </ul>
      <div class="padding-15">
        <div class="form-alert mb-15 color-danger">
          <div
              ng-show="form.new.$dirty && form.new.$error.pattern || (form.confirm.$dirty && form.confirm.$error.pattern)">
            新密码由 6 到 18 个英文字符或数字组成；首字母必须为英文
          </div>
        </div>
        <button class="btn btn-block btn-primary" ng-click="submit()" data-ng-disabled="form.$invalid">提交</button>
      </div>
    </form>
  </div>
</div>