.btn
{
    display: inline-block;
    box-sizing: border-box;
    border: none;
    margin: 0;
    border-radius: 4px;
    padding: 7px 10px;
    font-size: 16px;
    line-height: 30px;
    height: 44px;
    text-align: center;
    color: #fff;
}

.btn-sm
{
    font-size: 14px;
    line-height: 20px;
    height: 34px;
}

.btn-block
{
    display: block;
    width: 100%;
}

.btn-primary
{
    background-color: $color-primary;
}

.btn-success
{
    background-color: $color-success;
}

.btn-info
{
    background-color: $color-info;
}

.btn-warning
{
    background-color: $color-warning;
}

.btn-danger
{
    background-color: $color-danger;
}