<div class="page" ng-controller="userResetPasswordCtrl">
    <navbar title="找回密码"></navbar>
    <div class="page-content">
        <p class="mt-15 mb-15 padding-15 color-text-light">
            请填写用来接收重置密码邮件的邮箱
        </p>
        <ul class="list">
            <li class="list-item">
                <div class="item-content">
                    <div class="item-inner">
                        <input type="text" ng-model="email" class="item-input"/>
                    </div>
                    <div class="item-after">
                        {{settings.user_email_postfix}}
                    </div>
                </div>
            </li>
        </ul>
        <div class="padding-15">
            <button class="btn btn-block btn-primary" ng-click="submit()">提交</button>
        </div>
    </div>
</div>