.chat-list
{
  .item-subtitle
  {
    padding-right : 15px;
  }
}

.chat-message-list
{
  //padding          : 10px;
  border           : none;
  background-color : transparent;
  .list-item
  {
    border        : none;
    padding       : 0;
    margin-bottom : 10px;
    .item-head
    {
      line-height   : 0;
      margin-bottom : 10px;
      text-align    : center;
      padding-right : 15px;
      .item-time
      {
        display          : inline-block;
        padding          : 0.5em;
        font-size        : 12px;
        line-height      : 12px;
        border-radius    : 3px;
        background-color : #dedede;
        color            : #fff;
      }
    }
    .item-media
    {
      width  : 50px;
      height : 50px;
    }

    .item-content
    {
      .item-before
      {
        padding-right : 10px;
      }
      .item-after
      {
        padding-left : 10px;
      }
    }

    .item-inner > .inner-content
    {
      text-align : left;
      .item-title
      {
        font-size   : 14px;
        line-height : 1em;
        color       : $color-text-light;
      }
      .item-subtitle
      {
        display          : inline-block;
        position         : relative;
        font-size        : 14px;
        word-break       : break-all;
        color            : $color-text-light;
        border           : 1px solid $color-border;
        background-color : #fff;
        border-radius    : 4px;
        padding          : 0.5em 0.75em;
        width            : auto;
        margin-top       : 6px;
        box-sizing       : border-box;
        max-width        : 100%;
        img
        {
          max-width : 100%;
        }
        &.type-image
        {
          padding : 3px;
        }
      }
    }

    &.sending
    {
      .item-subtitle
      {
        margin-right: 30px;
        &:before
        {
          @include font-ico;
          @include animation-spin;
          display     : block;
          content     : "\e607";
          position    : absolute;
          right       : -30px;
          top         : 0;
          bottom      : 0;
          width       : 24px;
          height      : 24px;
          text-align  : center;
          line-height : 24px;
          font-size   : 20px;
          margin      : auto;
        }
      }
    }

    &.is-send
    {
      .item-inner > .inner-content
      {
        text-align : right;
      }
      .item-subtitle
      {
        margin-left: 30px;
        margin-right: 0;
        &:before
        {
          left: -30px;
          right: auto;
        }
      }
    }
  }
}

.chat-bar
{
  $color-border : #dedede;
  position         : absolute;
  left             : 0;
  right            : 0;
  bottom           : 0;
  z-index          : 500;
  padding          : 5px 15px;
  background-color : #fff;
  .bar-input
  {
    display       : block;
    width         : 100%;
    box-sizing    : border-box;
    font-size     : 14px;
    line-height   : 20px;
    height        : 30px;
    padding       : 5px;
    border        : 1px solid $color-border;
    border-radius : 5px;
  }
  .bar-toggle
  {
    position      : relative;
    display       : block;
    width         : 28px;
    height        : 28px;
    line-height   : 28px;
    border        : 1px solid $color-border;
    border-radius : 50%;
    margin-left   : 10px;
    &:before, &:after
    {
      display          : block;
      content          : "";
      position         : absolute;
      top              : 0;
      bottom           : 0;
      left             : 0;
      right            : 0;
      margin           : auto;
      background-color : $color-border;
    }
    &:before
    {
      left   : 25%;
      right  : 25%;
      height : 2px;
    }
    &:after
    {
      top    : 25%;
      bottom : 25%;
      width  : 2px;
    }
  }
  .bar-actions
  {
    @include clearfix;
    margin      : 0 -15px;
    padding-top : 10px;
  }
  .bar-action
  {
    float : left;
    width : 25%;
    color : $color-text-light;
    .action-icon,
    .action-text
    {
      display    : block;
      text-align : center;
    }
    .action-icon
    {
      border-radius : 5px;
      margin        : auto;
      width         : 50px;
      height        : 50px;
      line-height   : 50px;
      font-size     : 36px;
      border        : 1px solid $color-border;
    }
    .action-text
    {
      padding-top : 5px;
      font-size   : 12px;
    }
  }
}

.chat-bar ~ .page-content
{
  padding-bottom : 50px;
}
