$color-primary: #3190e8;
$color-primary-light: #5cacf7;
$color-primary-dark: #31708f;
//#54acff
$color-info: #5cdd72;
$color-danger: #ff3b30;
$color-danger-dark: #a94442;
$color-success: #5cdd72;
$color-success-dark: #3c763d;
$color-warning-light: #ffd759;
$color-warning: #f3a534;
$color-warning-dark: #8a6d3b;
$color-disabled: #d6d6d6;

$color-border: #ddd;
$color-bg-page: #f5f6f7;
$color-text: #333;
$color-text-light: #999;

$color-white: #fff;
