.list
{
  background-color : #fff;
  padding-left     : 15px;
  border-top       : 1px solid $color-border;
  border-bottom    : 1px solid $color-border;
  .list-item
  {
    padding     : 7px 0;
    line-height : 30px;
    font-size   : 14px;
    border-top  : 1px solid $color-border;
    &.gap-10
    {
      padding : 10px 0;
    }
    &.gap-15
    {
      padding : 15px 0;
    }
    &:first-child
    {
      border-top : none;
    }
    .item-link,
    .item-content
    {
      @include flex-box;
      padding-right : 15px;

      &.flex-align-top
      {
        @include flex-align-top;
      }

      .item-before,
      .item-inner,
      .item-after
      {
        @include display-flex;
      }
      .item-before
      {
        padding-right : 15px;
      }
      .item-inner
      {
        flex             : 1;
        -webkit-flex     : 1;
        -webkit-box-flex : 1;
        box-sizing       : border-box;
        word-break       : break-all;
        .inner-content
        {
          width : 100%;
        }
        .item-title
        {
          display     : block;
          width       : 100%;
          font-size   : 15px;
          line-height : 20px;
        }
        .item-subtitle
        {
          display     : block;
          width       : 100%;
          font-size   : 12px;
          line-height : 16px;
          margin-top  : 4px;
          color       : $color-text-light;
        }
        .item-input
        {
          width            : 100%;
          box-sizing       : border-box;
          padding          : 7px 0;
          background-color : #fff;
        }
      }
      .item-after
      {
        padding-left : 15px;
      }
      .item-media
      {
        width  : 40px;
        height : 40px;
      }
    }
  }
  .list-empty,
  .list-end
  {
    margin-left : -15px;
    padding     : 15px;
    color       : $color-text-light;
    text-align  : center;
  }
  .list-end
  {
    border-top : 1px solid $color-border;
  }
}