.grid
{
  &.no-gutter
  {
    .grid-row
    {
      margin : 0;
    }
    [class^="grid-col-"]
    {
      padding : 0;
    }
  }

  &.gutter-10
  {
    padding: 0 5px;
    .grid-row
    {
      margin: 0 -5px;
    }
    [class^="grid-col-"]
    {
      padding : 0 5px;
    }
  }

  &.gutter-20
  {
    padding: 0 10px;
    .grid-row
    {
      margin : 0 -10px;
    }
    [class^="grid-col-"]
    {
      padding : 0 10px;
    }
  }


  padding: 0 15px;
  .grid-row
  {
    margin : 0 -15px;
  }
  [class^="grid-col-"]
  {
    padding : 0 15px;
  }
}

.grid-row
{
  @include clearfix;

  [class^="grid-col-"]
  {
    float      : left;
    box-sizing : border-box;
  }
  .grid-col-1
  {
    width : percentage(1/12);
  }
  .grid-col-2
  {
    width : percentage(2/12);
  }
  .grid-col-3
  {
    width : percentage(3/12);
  }
  .grid-col-4
  {
    width : percentage(4/12);
  }
  .grid-col-5
  {
    width : percentage(5/12);
  }
  .grid-col-6
  {
    width : percentage(6/12);
  }
  .grid-col-7
  {
    width : percentage(7/12);
  }
  .grid-col-8
  {
    width : percentage(8/12);
  }
  .grid-col-9
  {
    width : percentage(9/12);
  }
  .grid-col-10
  {
    width : percentage(10/12);
  }
  .grid-col-11
  {
    width : percentage(11/12);
  }
  .grid-col-12
  {
    width : percentage(12/12);
  }

}