@font-face
{
  font-family : 'lcd';
  src         : url('assets/fonts/lcd.woff') format('woff'),
  url('assets/fonts/lcd.ttf') format('truetype');
}

@font-face
{
  font-family : 'ico';
  src         : url('assets/fonts/ico.ttf') format('truetype'),
  url('assets/fonts/ico.woff') format('woff');
}

[class^="ico-"], [class*=" ico-"]
{
  font-family             : 'ico';
  speak                   : none;
  color                   : inherit;
  line-height             : inherit;
  font-style              : normal;
  font-weight             : normal;
  font-variant            : normal;
  text-transform          : none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

.ico-info2:before
{
  content : "\e601";
}

.ico-refresh2:before
{
  content : "\e602";
}

.ico-trash:before
{
  content : "\e603";
}

.ico-setting:before
{
  content : "\e604";
}

.ico-lock:before
{
  content : "\e60a";
}

.ico-search:before
{
  content : "\e60b";
}

.ico-loading:before
{
  content : "\e610";
}

.ico-message:before
{
  content : "\e61f";
}

.ico-users:before
{
  content : "\e620";
}

.ico-me:before
{
  content : "\e622";
}

.ico-error:before
{
  content : "\e000";
}

.ico-error-o:before
{
  content : "\e001";
}

.ico-warning:before
{
  content : "\e002";
}

.ico-equalizer:before
{
  content : "\e007";
}

.ico-new_releases:before
{
  content : "\e016";
}

.ico-phone:before
{
  content : "\e057";
}

.ico-add:before
{
  content : "\e069";
}

.ico-add-circle:before
{
  content : "\e06b";
}

.ico-add-circle-o:before
{
  content : "\e06c";
}

.ico-block:before
{
  content : "\e06f";
}

.ico-remove-circle:before
{
  content : "\e080";
}

.ico-remove-circle-o:before
{
  content : "\e081";
}

.ico-report:before
{
  content : "\e084";
}

.ico-chevron-down:before
{
  content : "\e10f";
}

.ico-chevron-left:before
{
  content : "\e110";
}

.ico-chevron-right:before
{
  content : "\e111";
}

.ico-chevron-up:before
{
  content : "\e112";
}

.ico-photo-camera:before
{
  content : "\e144";
}

.ico-photo:before
{
  content : "\e1a2";
}

.ico-camera:before
{
  content : "\e1a4";
}

.ico-tag-faces:before
{
  content : "\e1b1";
}

.ico-email:before
{
  content : "\e1ec";
}

.ico-my-location:before
{
  content : "\e1f4";
}

.ico-arrow-back:before
{
  content : "\e200";
}

.ico-arrow-forward:before
{
  content : "\e204";
}

.ico-times:before
{
  content : "\e205";
}

.ico-check:before
{
  content : "\e206";
}

.ico-close:before
{
  content : "\e209";
}

.ico-refresh:before
{
  content : "\e211";
}

.ico-phone-in-talk:before
{
  content : "\e223";
}

.ico-wifi:before
{
  content : "\e242";
}

.ico-times-o:before
{
  content : "\e29c";
}

.ico-info:before
{
  content : "\e2a2";
}

.ico-info-o:before
{
  content : "\e2a3";
}

.ico-help-o:before
{
  content : "\e30f";
}

.ico-image2:before
{
  content : "\e600";
}

.ico-camera2:before
{
  content : "\e605";
}

.ico-spinner2:before
{
  content : "\e606";
}

.ico-spinner9:before
{
  content : "\e607";
}

.ico-spinner10:before
{
  content : "\e608";
}

