<div id="main-page" class="page tabbar-fixed">
  <!-- tabbar start -->
  <div class="tabs">
    <div class="tab" ng-class="{'active': ui.activeTabIndex === 0}" ng-include="'chatMain.html'"></div>
    <div class="tab" ng-class="{'active': ui.activeTabIndex === 1}" ng-include="'contactList.html'"></div>
    <div class="tab" ng-class="{'active': ui.activeTabIndex === 2}" ng-include="'userMain.html'"></div>
  </div>
  <div class="toolbar tabbar tabbar-labels">
    <div class="toolbar-inner">
      <a class="tab-link" ng-class="{'active': ui.activeTabIndex === 0}" ng-click="ui.activeTabIndex = 0">
        <span class="tabbar-icon ico-message">
          <span ng-show="ui.unreadMessagesCount > 0" class="ui-badge">
            <span class="badge-inner bg-danger">
              {{ui.unreadMessagesCount < 99 ? ui.unreadMessagesCount : '99+'}}
            </span>
          </span>
        </span>
        <span class="tabbar-label">消息</span>
      </a>
      <a class="tab-link" ng-class="{'active': ui.activeTabIndex === 1}" ng-click="ui.activeTabIndex = 1">
        <i class="tabbar-icon ico-users"></i>
        <span class="tabbar-label">通讯录</span>
      </a>
      <a class="tab-link" ng-class="{'active': ui.activeTabIndex === 2}" ng-click="ui.activeTabIndex = 2">
        <span class="tabbar-icon ico-me">
          <i ng-show="ui.updateNotice" class="item-dot bg-red"></i>
        </span>
        <span class="tabbar-label">我的</span>
      </a>
    </div>
  </div>
  <!-- tabbar end -->
</div>